In [4]:
import pandas as pd
import re
import numpy as np

In [11]:

people1 = pd.read_csv('D:\Antra Assignment\drive-download-20220510T004150Z-001\people\people_{number}.txt'.format(number=1), sep='\t')
people2 = pd.read_csv('D:\Antra Assignment\drive-download-20220510T004150Z-001\people\people_{number}.txt'.format(number=2), sep='\t')
df1 = pd.DataFrame(people1)
df2 = pd.DataFrame(people2)
df_1 = df1.copy()
df_2 = df2.copy()
df_ = pd.concat([df_1, df_2], axis=0)
print(df_)

         FirstName   LastName                        Email         Phone  \
0          Matthew   Williams   Matthew.Williams@email.com  053-278-8309
1          MATTHEW   WILLIAMS   Matthew.Williams@email.com    0532788309
2         MATTHEW    williams  Matthew.Williams@email.com     0532788309
3           Louise  Rodriguez   Louise.Rodriguez@email.com  553-981-1593
4          Charles      Smith      Charles.Smith@email.com  523-381-5730
...            ...        ...                          ...           ...
1014859     Chance      Davis       Chance.Davis@email.com  886-218-6051
1014860    Matthew   Gonzalez   Matthew.Gonzalez@email.com  087-377-6278
1014861    Charles      Jones      Charles.Jones@email.com  294-507-5836
1014862      Sarah     Wilson       Sarah.Wilson@email.com  168-491-9275
1014863  Elizabeth    Jackson  Elizabeth.Jackson@email.com  192-281-2861

                        Address
0         No.0532 Williams Lane
1           #0532 Williams Lane
2            0532 Williams Lane
3        No.5539 Rodriguez Lane
4            No.5233 Smith Lane
...                         ...
1014859      No.8862 Davis Lane
1014860   No.0873 Gonzalez Lane
1014861      No.2945 Jones Lane
1014862     No.1684 Wilson Lane
1014863    No.1922 Jackson Lane

[1517076 rows x 5 columns]

In [12]:
cols = ['FirstName','LastName']
for c in cols:
    df_[c] = df_[c].str.capitalize()


import numpy as np
l =[]

for num in df_['Phone']:
    num = re.compile('[\d]{10}|^[\d]{3}-[\d]{3}-[\d]{4}').findall(num)
    #print(type(num))
    
    if '-' in str(num):
        n = str(num).replace('-','')
        #print(n)
        l.append(n)
        
        
    else:
        m = str(num)
        #print(m)
        l.append(m)
        #print(type(num))
        
   
   
    #print(d)
df_['Phone'] = l

print(df_)

         FirstName   LastName                        Email           Phone  \
0          Matthew   Williams   Matthew.Williams@email.com  ['0532788309']
1          Matthew   Williams   Matthew.Williams@email.com  ['0532788309']
2         Matthew    Williams  Matthew.Williams@email.com   ['0532788309']
3           Louise  Rodriguez   Louise.Rodriguez@email.com  ['5539811593']
4          Charles      Smith      Charles.Smith@email.com  ['5233815730']
...            ...        ...                          ...             ...
1014859     Chance      Davis       Chance.Davis@email.com  ['8862186051']
1014860    Matthew   Gonzalez   Matthew.Gonzalez@email.com  ['0873776278']
1014861    Charles      Jones      Charles.Jones@email.com  ['2945075836']
1014862      Sarah     Wilson       Sarah.Wilson@email.com  ['1684919275']
1014863  Elizabeth    Jackson  Elizabeth.Jackson@email.com  ['1922812861']

                        Address
0         No.0532 Williams Lane
1           #0532 Williams Lane
2            0532 Williams Lane
3        No.5539 Rodriguez Lane
4            No.5233 Smith Lane
...                         ...
1014859      No.8862 Davis Lane
1014860   No.0873 Gonzalez Lane
1014861      No.2945 Jones Lane
1014862     No.1684 Wilson Lane
1014863    No.1922 Jackson Lane

[1517076 rows x 5 columns]

In [13]:
ll =[]
for ad in df_['Address']:
    #ad_ = re.compile('^.*[\d]{4}[\s][a-zA-Z]+[\s][a-zA-Z]+').findall(ad)
    #ad_split = re.split('\s',ad)
    ad_split = str.split(str(ad))
    ad1 = re.compile('[\d]{4}').findall(ad)
    ad2 = re.compile('[\s][a-zA-Z]+[\s]').findall(ad)
    #print(len(ad_split))
    if not re.match('^No\.[\d]{4}',ad_split[0]):
        #print("Not Match")
        ad_split[0] = 'No.'+ad_split[0][-4:]
        #print(ad_split[0])
    else:
        #print("Match")
        pass
    ll.append(ad_split)
    
df_['Address'] = ll
#You could use a list comprehension to generate a new list with the rows in id 
# joining those entries that are lists using string.join. You can check if an entry is a list using isinstance


print(df_)

         FirstName   LastName                        Email           Phone  \
0          Matthew   Williams   Matthew.Williams@email.com  ['0532788309']
1          Matthew   Williams   Matthew.Williams@email.com  ['0532788309']
2         Matthew    Williams  Matthew.Williams@email.com   ['0532788309']
3           Louise  Rodriguez   Louise.Rodriguez@email.com  ['5539811593']
4          Charles      Smith      Charles.Smith@email.com  ['5233815730']
...            ...        ...                          ...             ...
1014859     Chance      Davis       Chance.Davis@email.com  ['8862186051']
1014860    Matthew   Gonzalez   Matthew.Gonzalez@email.com  ['0873776278']
1014861    Charles      Jones      Charles.Jones@email.com  ['2945075836']
1014862      Sarah     Wilson       Sarah.Wilson@email.com  ['1684919275']
1014863  Elizabeth    Jackson  Elizabeth.Jackson@email.com  ['1922812861']

                            Address
0         [No.0532, Williams, Lane]
1         [No.0532, Williams, Lane]
2         [No.0532, Williams, Lane]
3        [No.5539, Rodriguez, Lane]
4            [No.5233, Smith, Lane]
...                             ...
1014859      [No.8862, Davis, Lane]
1014860   [No.0873, Gonzalez, Lane]
1014861      [No.2945, Jones, Lane]
1014862     [No.1684, Wilson, Lane]
1014863    [No.1922, Jackson, Lane]

[1517076 rows x 5 columns]

In [14]:
#print(df_)
#existing white space causes some of the duplicates still exist, clean the white space first
df_.replace('\s','',regex=True,inplace=True)
df_ = df_.drop_duplicates(subset=['FirstName', 'LastName','Phone'], keep='first')
print(df_)

        FirstName   LastName                       Email           Phone  \
0         Matthew   Williams  Matthew.Williams@email.com  ['0532788309']
3          Louise  Rodriguez  Louise.Rodriguez@email.com  ['5539811593']
4         Charles      Smith     Charles.Smith@email.com  ['5233815730']
5            Lisa      Jones        Lisa.Jones@email.com  ['8037591018']
6           Greta      Jones       Greta.Jones@email.com  ['6796258398']
...           ...        ...                         ...             ...
502087     Chance      Davis      Chance.Davis@email.com  ['7922173241']
502088       Lisa      Jones        Lisa.Jones@email.com  ['2975282185']
502089    Matthew    Jackson   Matthew.Jackson@email.com  ['6558195842']
502090      Lance    Jackson     Lance.Jackson@email.com  ['6063160561']
502091  Firstname   Lastname                       Email              []

                           Address
0        [No.0532, Williams, Lane]
3       [No.5539, Rodriguez, Lane]
4           [No.5233, Smith, Lane]
5           [No.8037, Jones, Lane]
6           [No.6796, Jones, Lane]
...                            ...
502087      [No.7922, Davis, Lane]
502088      [No.2975, Jones, Lane]
502089    [No.6558, Jackson, Lane]
502090    [No.6063, Jackson, Lane]
502091                   [No.ress]

[999999 rows x 5 columns]

In [15]:

df_['Address'] = [' '.join(i) if isinstance(i, list) else i for i in df_['Address']]
print(df_)

        FirstName   LastName                       Email           Phone  \
0         Matthew   Williams  Matthew.Williams@email.com  ['0532788309']
3          Louise  Rodriguez  Louise.Rodriguez@email.com  ['5539811593']
4         Charles      Smith     Charles.Smith@email.com  ['5233815730']
5            Lisa      Jones        Lisa.Jones@email.com  ['8037591018']
6           Greta      Jones       Greta.Jones@email.com  ['6796258398']
...           ...        ...                         ...             ...
502087     Chance      Davis      Chance.Davis@email.com  ['7922173241']
502088       Lisa      Jones        Lisa.Jones@email.com  ['2975282185']
502089    Matthew    Jackson   Matthew.Jackson@email.com  ['6558195842']
502090      Lance    Jackson     Lance.Jackson@email.com  ['6063160561']
502091  Firstname   Lastname                       Email              []

                       Address
0        No.0532 Williams Lane
3       No.5539 Rodriguez Lane
4           No.5233 Smith Lane
5           No.8037 Jones Lane
6           No.6796 Jones Lane
...                        ...
502087      No.7922 Davis Lane
502088      No.2975 Jones Lane
502089    No.6558 Jackson Lane
502090    No.6063 Jackson Lane
502091                 No.ress

[999999 rows x 5 columns]

In [ ]:
#df_1 = df_.copy()
#df_1

In [16]:

sym =['[',']',"\'"]
ss = []
for i in df_['Phone']:
    i = i.replace('[','')
    i = i.replace(']','')
    i = i.replace('\'','')
    i=i[:3]+'-'+ i[3:6]+'-'+i[6:]
    #print(type(i))
    #print(i)
    ss.append(i)
df_['Phone'] = ss
    
print(df_)

        FirstName   LastName                       Email         Phone  \
0         Matthew   Williams  Matthew.Williams@email.com  053-278-8309
3          Louise  Rodriguez  Louise.Rodriguez@email.com  553-981-1593
4         Charles      Smith     Charles.Smith@email.com  523-381-5730
5            Lisa      Jones        Lisa.Jones@email.com  803-759-1018
6           Greta      Jones       Greta.Jones@email.com  679-625-8398
...           ...        ...                         ...           ...
502087     Chance      Davis      Chance.Davis@email.com  792-217-3241
502088       Lisa      Jones        Lisa.Jones@email.com  297-528-2185
502089    Matthew    Jackson   Matthew.Jackson@email.com  655-819-5842
502090      Lance    Jackson     Lance.Jackson@email.com  606-316-0561
502091  Firstname   Lastname                       Email            --

                       Address
0        No.0532 Williams Lane
3       No.5539 Rodriguez Lane
4           No.5233 Smith Lane
5           No.8037 Jones Lane
6           No.6796 Jones Lane
...                        ...
502087      No.7922 Davis Lane
502088      No.2975 Jones Lane
502089    No.6558 Jackson Lane
502090    No.6063 Jackson Lane
502091                 No.ress

[999999 rows x 5 columns]

In [17]:

import os  
'''
from pathlib import Path  
filepath = Path('D:\Antra Assignment\drive-download-20220510T004150Z-001out\Result\outcomes.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_.to_csv(filepath)  
'''

os.makedirs('D:\Antra Assignment\drive-download-20220510T004150Z-001\Result', exist_ok=True)  
df_.to_csv(r'D:\Antra Assignment\drive-download-20220510T004150Z-001\Result\outcomes_{number}.csv'.format(number=1))